################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/src/FlatUI/obj
/src/FlatUI.Examples/obj
/.idea/.idea.FlatUI/.idea
/.vs/FlatUI/v16
